# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Local generated data
data/raw/*
data/processed/*
chroma_db/*

# Keep empty folders
!data/raw/.gitkeep
!data/processed/.gitkeep
!chroma_db/.gitkeep

# Logs
*.log

# Streamlit secrets
.streamlit/secrets.toml
